@mixin center{
    margin-left:auto;
    margin-right:auto;
}

@mixin mobile {
    @media screen and (max-width: 1199px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}