@import '../tools/maintools.scss';

footer{
	> div{
		display:block;
		width:100%;
		height:44px;
		background:#000;
		margin-top:80px;
	}
	> p{
		font-size:10px;
		text-align:center;
		box-sizing:border-box;
		padding:10px 0;
		@include mobile{
			padding:10px 16px;
			line-height:16px;
		}
	}
}