@import '../tools/maintools.scss';

.topbar{
	display:table;
	width:100%;
	height:32px;
	background:#EEEEEE;
	text-align:center;
	line-height:32px;
	p{
		font-size:9px;
		strong{
			font-weight:600;
		}
		a{
			text-decoration:underline;
			color:#000;
			font-weight:600;
		}
	}
	&.desktop{
		@include mobile{
			display:none;
		}
	}
	&.mobile{
		background:#E6E6E6;
		box-sizing:border-box;
		padding:0 16px;
		> p strong{
			float:left;
			font-size:11px;
		}
		> p a{
			float:right;
			font-size:18px;
			font-weight:300;
			text-decoration:none;
			color:#575757;
		}
		@include desktop{
			display:none;
		}
	}
}

.header__mobile{
	display:table;
	width:100%;
	box-sizing:border-box;
	padding:8px 16px;
	> span,img{
		float:left;
	}
	&-hamburger{
		@include sprite($menu-mobile);
	}
	img{
		width:100px;
		height:auto;
		position:absolute;
		left:50%;
		transform:translateX(-50%);
	}
	&-search{
		position:absolute;
		top:2px;
		right:48px;
		width:40px;
		height:40px;
		&:after{
			content:"";
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			@include sprite($search-mobile);
		}
	}
	&-checkout{
		position:absolute;
		top:2px;
		right:12px;
		width:40px;
		height:40px;
		&:after{
			content:"";
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			@include sprite($checkout-mobile);
		}
	}
}