@import '../tools/maintools.scss';

body{
	font-family:Montserrat;

	.social{
		display:table;
		width:90%;
		max-width:100%;
		margin:20px auto 0;
		@include mobile{
			width:100%;
			box-sizing:border-box;
			padding:0 16px;
		}
		&__sidebar{
			float:left;
			width:100px;
			> a{
				width:100px;
				img{
					width:100%;
				}
				@include mobile{
					display:none;
				}
			}
			&-search{
				position:relative;
				input{
					display:block;
					width:100%;
					font-family:Montserrat;
					font-weight:600;
					border:none;
					border-bottom:1px solid #929496;
					padding-bottom:6px;
					margin-top:24px;
				}
				a{
					position:absolute;
					top:0;
					right:0;
					@include sprite($search-icon);
				}
				@include mobile{
					position:fixed;
					top:0;
					left:-100%;
					width:100vw;
					height:72px;
					background:#FFF;
					box-sizing:border-box;
					padding:24px 16px;
					transition:left 0.4s;
					-webkit-transition:left 0.4s;
					-ms-transition:left 0.4s;
					-moz-transition:left 0.4s;
					z-index:20;
					&.active{
						left:0;
					}
					input{
						margin:0;
					}
					a{
						top:20px;
						right:16px;
					}
				}
			}
			&-menu{
				> span{
					display:block;
					margin-top:20px;
					a{
						display:block;
						width:100%;
						padding:5px 0;
						font-size:10px;
						font-weight:600;
						color:#000;
						letter-spacing:0.7px;
						text-align:right;
						padding-right:8px;
						transition:background 0.2s;
						&:hover{
							background:#EEE;
						}
					}
				}
				@include mobile{
					.close{
						display:block;
						position:absolute;
						top:2px;
						right:32px;
						font-size:24px;
						@include desktop{
							display:none;
						}
					}
					position:fixed;
					top:0;
					left:-100%;
					width:100vw;
					height:100vh;
					background:#FFF;
					transitfion:left 0.4s;
					-webkit-transition:left 0.4s;
					-ms-transition:left 0.4s;
					-moz-transition:left 0.4s;
					z-index:20;
					&.active{
						left:0;
					}
					span{
						a{
							display:table;
							width:auto;
							font-size:16px;
							font-weight:400;
							text-align:left;
							box-sizing:border-box;
							padding-left:24px;
						}
					}
				}
			}
		}
		&__content{
			float:right;
			width:calc(100% - 172px);
			@include mobile{
				width:100%;
			}
			> div{
				float:left;
				&.left{
					width:30%;
					@include mobile{
						width:100%;
					}
				}
				&.center{
					width:calc(50% - 48px);
					margin:0 24px;
					@include mobile{
						width:100%;
						margin:24px 0 0 0;
					}
				}
				&.right{
					width:20%;
					@include mobile{
						width:100%;
						margin-top:24px;
					}
				}
			}

			&-user{
				display:table;
				width:100%;
				box-sizing:border-box;
				padding:24px;
				background:#F4F4F4;
				border-bottom:32px solid #D8D8D8;
				@include border-radius(10px);
				&--avatar{
					display:table;
					width:100%;
					span{
						float:left;
						img{
							margin-right:8px;
						}
						strong{
							display:block;
							font-size:14px;
							font-weight:600;
							color:#4E4E4E;
							margin-top:12px;
						}
						p{
							display:block;
							font-size:14px;
							margin-top:4px;
						}
					}
				}
				&--posts{
					display:table;
					width:100%;
					font-size:14px;
					font-weight:500;
					text-align:center;
					padding:12px 0;
					border-top:1px solid #C4C4C4;
					border-bottom:1px solid #C4C4C4;
					margin-top:20px;
				}
				&--menu{
					display:table;
					width:100%;
					padding:16px 0 8px;
					a{
						display:block;
						font-size:14px;
						font-weight:500;
						color:#878787;
						margin-top:12px;
						cursor:pointer;
						&.active{
							color:#4E4E4E;
						}
					}
				}
			}

			&-new{
				background:#F5F5F5;
				@include border-radius(10px);
				> div,fieldset{
					display:table;
					width:100%;
				}
				&--top{
					position:relative;
					height:40px;
					img{
						width:32px;
						height:32px;
						position:absolute;
						top:12px;
						left:16px;
					}
					p{
						float:right;
						font-size:14px;
						line-height:40px;
						margin-right:16px;
					}
				}
				&--msg{
					textarea{
						display:block;
						width:100%;
						height:64px;
						font-family:Montserrat;
						font-size:14px;
						word-break:break-word;
						background:#FFF;
						border:none;
						resize:none;
						box-sizing:border-box;
						padding:12px 16px 8px;
					}
				}
				&--options{
					height:40px;
					box-sizing:border-box;
					padding:0 16px;
					a{
						float:left;
						font-size:14px;
						font-weight:600;
						color:#4E4E4E;
						padding:8px 16px;
						background:#E6E6E6;
						margin-top:5px;
						&.active{
							background:transparent;
							cursor:default;
						}
						&:hover{
							opacity:0.9;
						}
						&:last-of-type{
							float:right;
						}
					}
				}
			}

			&-posts{
				display:table;
				width:100%;
				margin-top:32px;
				&--filter{
					position:relative;
					display:table;
					width:100%;
					span{
						position:relative;
						float:right;
						width:100%;
						font-size:14px;
						font-weight:600;
						color:#313131;
						text-align:right;
						cursor:pointer;
						> i{
							float:right;
							width:8px;
							height:8px;
							margin-left:12px;
							border-top:2px solid #313131;
							border-right:2px solid #313131;
							transform:rotate(135deg);
							margin-top:-1px;
						}
					}
					ul{
						display:none;
						position:absolute;
						top:24px;
						right:0;
						width:200px;
						font-size:16px;
						font-weight:500;
						color:#4E4E4E;
						background:#FFF;
						padding:8px;
						border:1px solid #4E4E4E;
						&.active{
							display:block;
						}
						li{
							padding:4px;
							margin-bottom:4px;
							border-bottom:1px solid #E0E0E0;
							cursor:pointer;
							&:last-of-type{
								border:none;
							}
							&#all{
								font-weight:700;
							}
							&:hover{
								color:#000;
							}
						}
					}
				}

				.post{
					display:table;
					width:100%;
					background:#F5F5F5;
					@include border-radius(10px);
					border-bottom:24px solid #D8D8D8;
					margin-top:32px;
					> div{
						display:table;
						width:100%;
					}
					&__user{
						box-sizing:border-box;
						padding:0 16px;
						margin-top:16px;
						span{
							float:left;
							img{
								margin-right:8px;
							}
							strong{
								display:block;
								font-size:14px;
								font-weight:600;
								color:#4E4E4E;
								margin-top:12px;
							}
							p{
								display:block;
								font-size:14px;
								margin-top:4px;
							}
						}
					}
					&__description{
						font-size:14px;
						line-height:20px;
						color:#313131;
						word-break:break-word;
						box-sizing:border-box;
						padding:16px;
					}
					&__image{
						img{
							display:block;
							width:100%;
							height:auto;
						}
					}
					&__options{
						background:#D8D8D8;
						box-sizing:border-box;
						padding:12px 16px;
						@include mobile{
							padding:12px 8px;
						}
						> a{
							cursor:pointer;
						}
						&-like{
							float:left;
							@include sprite($like);
							margin-right:12px;
							&.active{
								@include sprite($like-active);
							}
						}
						&-comment{
							float:left;
							@include sprite($comments);
							margin-top:2px;
						}
						> span{
							float:right;
							font-size:14px;
							color:#4E4E4E;
							> p{
								float:left;
								@include mobile{
									margin-top:4px;
								}
								&:first-of-type{
									margin-right:16px;
									@include mobile{
										margin-right:8px;
									}
								}
								strong{
									font-weight:600;
								}
							}
						}
					}
					&__comments{
						&-comment{
							display:table;
							width:100%;
							height:36px;
							background:#FFF;
							box-sizing:border-box;
							padding:8px 16px;
							margin-top:4px;
							white-space:nowrap;
							input{
								float:left;
								width:50%;
								font-family:Montserrat;
								padding-bottom:4px;
								border:none;
								border-bottom:1px solid #e0e0e0;
								margin-right:12px;
								@include mobile{
									margin-left:36px;
									width:calc(100% - 36px);
									margin-top:8px;
								}
							}
							#insertComment{
								float:left;
								height:22px;
								font-size:12px;
								font-weight:600;
								line-height:22px;
								color:#4E4E4E;
								background:#DDD;
								padding:0 8px;
								@include border-radius(4px);
								@include mobile{
									float:right;
									margin-top:8px;
								}
							}
							&:first-of-type{
								margin-top:2px;
							}
							span{
								float:left;
								padding-right:12px;
								border-right:1px solid #E0E0E0;
								margin-right:12px;
								@include mobile{
									border:none;
								}
								img{
									float:left;
									width:24px;
									height:24px;
									margin-right:12px;
								}
								strong{
									float:left;
									font-weight:600;
									color:#4E4E4E;
									line-height:24px;
								}
							}
							p{
								float:left;
								font-size:14px;
								line-height:24px;
								@include mobile{
									display:block;
									width:100%;
									white-space:initial;
									line-height:20px;
									box-sizing:border-box;
									padding-left:36px;
									margin-top:6px;
								}
							}
						}
					}
				}

			}

			&-members{
				display:table;
				width:100%;
				background:#F5F5F5;
				box-sizing:border-box;
				padding:24px;
				border-bottom:32px solid #D8D8D8;
				@include border-radius(10px);
				h2{
					font-size:14px;
					font-weight:600;
					color:#4E4E4E;
					padding:12px 0;
					border-top:1px solid #C4C4C4;
					border-bottom:1px solid #C4C4C4;
				}
				ul{
					li{
						display:table;
						width:100%;
						padding-bottom:8px;
						border-bottom:1px solid #D8D8D8;
						margin-top:16px;
						&:last-of-type{
							border:none;
						}
						img{
							float:left;
							width:40px;
							height:40px;
							margin-right:8px;
						}
						strong{
							float:left;
							font-size:14px;
							font-weight:600;
							color:#4E4E4E;
							line-height:40px;
							@media screen and (min-width:1200px) and (max-width:1570px){
								width:100%;
								line-height:18px;
								margin-top:4px;
							}
						}
					}
				}
			}

		}
	}

	#overlay{
		display:none;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.6);
		z-index:15px;
		&.active{
			display:block;
			cursor:pointer;
		}
	}

}